/**
 * Базовый абстрактный макрос для создания комбо-аккордов с thumb-модификаторами (без обычного клика).
 * Генерирует 6 комбо: для левой и правой руки, с согнутым (LIT/RIT), вытянутым (LOT/ROT) и обоими большими пальцами.
 * Намеренно не создает базовые "одиночные" комбо, чтобы не перекрывать поведение удержания (Hold) для Layer-Tap клавиш.
 * 
 * @param NAME Имя комбо (используется для генерации уникальных названий нод)
 * @param LAYER Слой, на котором должны работать эти комбо
 * @param CURVED_BINDINGS Действие при нажатии аккорда + согнутый большой палец
 * @param SPLAYED_BINDINGS Действие при нажатии аккорда + вытянутый большой палец
 * @param BOTH_BINDINGS Действие при нажатии аккорда + оба больших пальца
 * @param LEFT_KEYPOS Позиции клавиш левого аккорда
 * @param RIGHT_KEYPOS Позиции клавиш правого аккорда
 */
#define LAYER_TCOMBO_NO_BASE(NAME, LAYER, CURVED_BINDINGS, SPLAYED_BINDINGS, BOTH_BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
combo_lo_##NAME { \
        timeout-ms = <COMBO_TIMEOUT>; \
        bindings = <SPLAYED_BINDINGS>; \
        key-positions = <LEFT_KEYPOS LOT>; \
        layers = <LAYER>; \
}; \
combo_li_##NAME { \
        timeout-ms = <COMBO_TIMEOUT>; \
        bindings = <CURVED_BINDINGS>; \
        key-positions = <LEFT_KEYPOS LIT>; \
        layers = <LAYER>; \
}; \
combo_lb_##NAME { \
        timeout-ms = <COMBO_TIMEOUT>; \
        bindings = <BOTH_BINDINGS>; \
        key-positions = <LEFT_KEYPOS LIT LOT>; \
        layers = <LAYER>; \
}; \
combo_ro_##NAME { \
        timeout-ms = <COMBO_TIMEOUT>; \
        bindings = <SPLAYED_BINDINGS>; \
        key-positions = <RIGHT_KEYPOS ROT>; \
        layers = <LAYER>; \
}; \
combo_ri_##NAME { \
        timeout-ms = <COMBO_TIMEOUT>; \
        bindings = <CURVED_BINDINGS>; \
        key-positions = <RIGHT_KEYPOS RIT>; \
        layers = <LAYER>; \
}; \
combo_rb_##NAME { \
        timeout-ms = <COMBO_TIMEOUT>; \
        bindings = <BOTH_BINDINGS>; \
        key-positions = <RIGHT_KEYPOS RIT ROT>; \
        layers = <LAYER>; \
};

/**
 * Полный абстрактный макрос для создания комбо-аккордов с thumb-модификаторами.
 * Включает в себя функционал LAYER_TCOMBO_NO_BASE, но дополнительно генерирует 
 * 2 базовых "одиночных" комбо (для левой и правой руки без участия больших пальцев).
 * Итого генерирует 8 комбо.
 * 
 * @param BINDINGS Действие при обычном нажатии аккорда (без больших пальцев)
 * (Остальные параметры аналогичны LAYER_TCOMBO_NO_BASE)
 */
#define LAYER_TCOMBO(NAME, LAYER, BINDINGS, CURVED_BINDINGS, SPLAYED_BINDINGS, BOTH_BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
combo_l_##NAME { \
        timeout-ms = <COMBO_TIMEOUT>; \
        bindings = <BINDINGS>; \
        key-positions = <LEFT_KEYPOS>; \
        layers = <LAYER>; \
}; \
combo_r_##NAME { \
        timeout-ms = <COMBO_TIMEOUT>; \
        bindings = <BINDINGS>; \
        key-positions = <RIGHT_KEYPOS>; \
        layers = <LAYER>; \
}; \
LAYER_TCOMBO_NO_BASE(NAME, LAYER, CURVED_BINDINGS, SPLAYED_BINDINGS, BOTH_BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS)

/**
 * Обертка над LAYER_TCOMBO_NO_BASE для использования на дефолтных слоях (COMBO_LAYERS).
 * Применяется для клавиш, которые уже имеют поведение Layer-Tap (например &lt) на базовом слое.
 */
#define TCOMBO_NO_BASE(NAME, BINDINGS, CURVED_BINDINGS, SPLAYED_BINDINGS, BOTH_BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
    LAYER_TCOMBO_NO_BASE(NAME, COMBO_LAYERS, CURVED_BINDINGS, SPLAYED_BINDINGS, BOTH_BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS)

/**
 * Обертка над LAYER_TCOMBO для использования на дефолтных слоях (COMBO_LAYERS).
 * Стандартный макрос для большинства аккордов клавиатуры (генерирует 8 комбинаций).
 */
#define TCOMBO(NAME, BINDINGS, CURVED_BINDINGS, SPLAYED_BINDINGS, BOTH_BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
    LAYER_TCOMBO(NAME, COMBO_LAYERS, BINDINGS, CURVED_BINDINGS, SPLAYED_BINDINGS, BOTH_BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS)

/**
 * 
 * Генератор 4-состояний mod-morph:
 * 1) base (без модов)
 * 2) cmd (LGUI/RGUI)
 * 3) shift (LSHIFT/RSHIFT)
 * 4) cmd+shift
 *
 * Важно: behavior-mod-morph в ZMK не ограничивается слоями напрямую.
 * Ограничение по слоям достигается тем, где именно вы ставите `&NAME` в keymap.
 * Внешний (публичный) behavior всегда вызывается как `&NAME`.
 * Внутренние ноды `NAME_shift` и `NAME_cmd_shift` служебные.
 *
 * @param NAME Базовое имя behavior-нод
 * @param BASE_BINDING Биндинг без модификаторов
 * @param CMD_BINDING Биндинг при зажатом Cmd (GUI)
 * @param SHIFT_BINDING Биндинг при зажатом Shift
 * @param CMD_SHIFT_BINDING Биндинг при зажатых Cmd+Shift
 */
// TODO кажется это хуета не достойная использования
#define MOD_MPH(NAME, BASE_BINDING, CMD_BINDING, SHIFT_BINDING, CMD_SHIFT_BINDING) \
NAME##_shift: NAME##_shift { \
	compatible = "zmk,behavior-mod-morph"; \
	#binding-cells = <0>; \
	bindings = <BASE_BINDING>, <SHIFT_BINDING>; \
	mods = <(MOD_LSFT|MOD_RSFT)>; \
}; \
NAME##_cmd_shift: NAME##_cmd_shift { \
	compatible = "zmk,behavior-mod-morph"; \
	#binding-cells = <0>; \
	bindings = <CMD_BINDING>, <CMD_SHIFT_BINDING>; \
	mods = <(MOD_LSFT|MOD_RSFT)>; \
}; \
NAME: NAME { \
	compatible = "zmk,behavior-mod-morph"; \
	#binding-cells = <0>; \
	bindings = <&NAME##_shift>, <&NAME##_cmd_shift>; \
	mods = <(MOD_LGUI|MOD_RGUI)>; \
};

/*
Примеры (не применяются сейчас):

MOD_MPH(demo_nav_key, &kp MINUS, &kp LEFT, &kp UNDER, &kp HOME)
MOD_MPH(demo_sym_key, &kp SYM_AT, &kp SYM_LGUIL, &kp SYM_HASH, &kp SYM_DQUOTE)

Как использовать в keymap на нужных слоях:
  - в слое NAV_L:      &demo_nav_key
  - в слое HOLD_SYM_L: &demo_sym_key
*/

/**
 * Макрос для создания простых зеркальных комбо (одно действие, две стороны).
 * Удобно для комбо, не требующих thumb-модификаторов (например, 4, 7, 8, 9 на слое цифр).
 * 
 * @param NAME Базовое имя комбо (будут созданы combo_l_NAME и combo_r_NAME)
 * @param BINDINGS Действие при срабатывании комбо
 * @param LEFT_KEYPOS Позиции клавиш на левой половине
 * @param RIGHT_KEYPOS Позиции клавиш на правой половине
 * @param LAYERS Слой(и), на котором(ых) работает комбо
 */
#define COMBO_MIRROR_LAYERS(NAME, BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS, LAYERS) \
combo_l_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BINDINGS>; \
	key-positions = <LEFT_KEYPOS>; \
	layers = <LAYERS>; \
}; \
combo_r_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BINDINGS>; \
	key-positions = <RIGHT_KEYPOS>; \
	layers = <LAYERS>; \
};

/**
 * Вариация COMBO_MIRROR_LAYERS с дополнительным параметром require-prior-idle-ms.
 * Полезно для комбо, которые могут случайно срабатывать при быстрой печати.
 * 
 * @param IDLE_MS Время (в мс), которое клавиатура должна бездействовать перед срабатыванием комбо
 */
#define COMBO_MIRROR_LAYERS_IDLE(NAME, BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS, LAYERS, IDLE_MS) \
combo_l_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BINDINGS>; \
	key-positions = <LEFT_KEYPOS>; \
	layers = <LAYERS>; \
	require-prior-idle-ms = <IDLE_MS>; \
}; \
combo_r_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BINDINGS>; \
	key-positions = <RIGHT_KEYPOS>; \
	layers = <LAYERS>; \
	require-prior-idle-ms = <IDLE_MS>; \
};

COMBO_MIRROR_LAYERS(lang_ru, &ht_combo_ru LS(LGUI) 0, LOT LIT, ROT RIT, RU_L)
COMBO_MIRROR_LAYERS(lang_en, &ht_combo_en LS(LGUI) 0, LOT LIT, ROT RIT, ENG_L)

// Без базовой клавиши, чтобы базово вызывать hold-cлой
TCOMBO_NO_BASE(b         , &kp B       , &kp LS(B)    , &kp LEFT     , &kp LS(LEFT)  , TLP          , TRP  )
TCOMBO_NO_BASE(j         , &kp J       , &kp LS(J)    , &kp RIGHT    , &kp LS(RIGHT) , TLI          , TRI  )
TCOMBO_NO_BASE(h         , &kp H       , &kp LS(H)    , &sk LGUI     , &kp HOME      , BLP          , BRP  )
TCOMBO_NO_BASE(y         , &kp Y       , &kp LS(Y)    , &sk LSHIFT   , &kp END       , BLI          , BRI  )

//    (name,   press,      curved,        splayed,            both,          chord,       chord)
TCOMBO(f         , &kp F       , &kp LS(F)    , &kp UP       , &kp LS(UP)    , TLR          , TRR          )
TCOMBO(t         , &kp T       , &kp LS(T)    , &kp DOWN     , &kp LS(DOWN)  , TLM          , TRM          )
TCOMBO(c         , &kp C       , &kp LS(C)    , &sk LALT     , &kp PG_UP     , BLR          , BRR          )
TCOMBO(n         , &kp N       , &kp LS(N)    , &sk LCTRL    , &kp PG_DN     , BLM          , BRM          )
TCOMBO(d         , &kp D       , &kp LS(D)    , &kp N1       , &kp F1        , TLP TLI      , TRP TRI      )
TCOMBO(k         , &kp K       , &kp LS(K)    , &kp N2       , &kp F2        , BLP BLI      , BRP BRI      )
TCOMBO(r         , &kp R       , &kp LS(R)    , &kp N3       , &kp F3        , BLP BLR      , BRP BRR      )
TCOMBO(v         , &kp V       , &kp LS(V)    , &kp N4       , &kp F4        , BLM BLI      , BRM BRI      )
TCOMBO(l         , &kp L       , &kp LS(L)    , &kp N5       , &kp F5        , TLP TLR      , TRP TRR      )
TCOMBO(g         , &kp G       , &kp LS(G)    , &kp N6       , &kp F6        , TLM TLI      , TRM TRI      )
TCOMBO(e         , &kp E       , &kp LS(E)    , &kp N7       , &kp F7        , BLR BLM      , BRR BRM      )
TCOMBO(z         , &kp Z       , &kp LS(Z)    , &kp N8       , &kp F8        , TLR TLM      , TRR TRM      )
TCOMBO(s         , &kp S       , &kp LS(S)    , &kp N9       , &kp F9        , BLP BLM      , BRP BRM      )
TCOMBO(m         , &kp M       , &kp LS(M)    , &kp N0       , &kp F10       , BLR BLI      , BRR BRI      )
TCOMBO(u         , &kp U       , &kp LS(U)    , &kp EXCL     , &kp F11       , TLP TLM      , TRP TRM      )
TCOMBO(p         , &kp P       , &kp LS(P)    , &kp AT       , &kp F12       , TLR TLI      , TRR TRI      )
TCOMBO(comma     , &kp COMMA   , &kp LS(COMMA), &kp HASH     , &none         , TLP BLI      , TRP BRI      )
TCOMBO(x         , &kp X       , &kp LS(X)    , &kp DLLR     , &none         , BLP TLI      , BRP TRI      )
TCOMBO(q         , &kp Q       , &kp LS(Q)    , &kp PRCNT    , &none         , TLP BLM      , TRP BRM      )
TCOMBO(lbkt      , &kp LBKT    , &kp LS(LBKT) , &kp CARET    , &none         , BLR TLI      , BRR TRI      )
TCOMBO(semi      , &kp SEMI    , &kp LS(SEMI) , &kp AMPS     , &none         , BLP TLM      , BRP TRM      )
TCOMBO(i         , &kp I       , &kp LS(I)    , &kp STAR     , &none         , TLR BLI      , TRR BRI      )
TCOMBO(dot       , &kp DOT     , &kp LS(DOT)  , &kp LPAR     , &none         , TLP BLR      , TRP BRR      )
TCOMBO(w         , &kp W       , &kp LS(W)    , &kp RPAR     , &none         , TLI BLM      , TRI BRM      )
TCOMBO(o         , &kp O       , &kp LS(O)    , &kp SLASH    , &none         , TLR BLM      , TRR BRM      )
TCOMBO(sqt       , &kp SQT     , &kp LS(SQT)  , &kp QMARK    , &none         , TLM BLR      , TRM BRR      )
TCOMBO(a         , &kp A       , &kp LS(A)    , &kp MINUS    , &none         , TLM BLI      , TRM BRI      )
TCOMBO(rbkt      , &kp RBKT    , &kp LS(RBKT) , &kp UNDER    , &none         , TLR BLP      , TRR BRP      )
TCOMBO(grave     , &kp GRAVE   , &kp LS(GRAVE), &kp EQUAL    , &none         , BLR BLM BLI  , BRR BRM BRI  )
TCOMBO(nubs      , &kp NUBS    , &kp LS(NUBS) , &kp PLUS     , &none         , TLR TLM TLI  , TRR TRM TRI  )
TCOMBO(del       , &kp DEL     , &none        , &kp LC(DEL)  , &none         , TLR BLR      , TRR BRR      )
TCOMBO(esc       , &kp ESC     , &none        , &kp N1       , &none         , TLM BLM      , TRM BRM      )
TCOMBO(tab       , &kp TAB     , &kp LA(TAB)  , &kp LC(TAB)  , &none         , TLP BLP      , TRP BRP      )
TCOMBO(enter     , &kp ENTER   , &kp LS(ENTER), &none        , &none         , TLI BLI      , TRI BRI      )
TCOMBO(boot      , &none       , &none        , &ext_power EP_OFF, &bootloader   , TLP TLR TLM TLI, TRP TRR TRM TRI)
TCOMBO(bt        , &bt BT_SEL 0, &bt BT_SEL 1 , &bt BT_SEL 2 , &bt BT_CLR    , BLP BLR BLM BLI, BRP BRR BRM BRI)
TCOMBO(mg_comma  , &mg_comma   , &mg_dot      , &kp RA(SEMI) , &kp LS(RA(SEMI)), TLP TLR TLM  , TRP TRR TRM  )
TCOMBO(minus_dash, &kp MINUS   , &kp LA(LS(MINUS)), &kp UNDER    , &kp PIPE      , BLP BLR BLM  , BRP BRR BRM  )


// Hold Numbers Layer Combos
COMBO_MIRROR_LAYERS(num_8, &kp N8, TLR TLM, TRR TRM, HOLD_NUM_L)
COMBO_MIRROR_LAYERS(num_7, &kp N7, TLM TLI, TRM TRI, HOLD_NUM_L)
COMBO_MIRROR_LAYERS(num_9, &kp N9, BLR BLM, BRR BRM, HOLD_NUM_L)
COMBO_MIRROR_LAYERS(num_4, &kp N4, BLM BLI, BRM BRI, HOLD_NUM_L)

LAYER_TCOMBO_NO_BASE(num_2, HOLD_NUM_L, &kp SYM_PERCENT, &kp SYM_NUMERO, &none       , TLM, TRM)
LAYER_TCOMBO_NO_BASE(num_1, HOLD_NUM_L, &kp SYM_EQUAL,   &kp SYM_PLUS,   &kp SYM_STAR, TLI, TRI)
LAYER_TCOMBO_NO_BASE(num_5, HOLD_NUM_L, &kp SYM_DOLLAR,  &kp SYM_RUBLE,  &none       , BLM, BRM)
LAYER_TCOMBO_NO_BASE(num_0, HOLD_NUM_L, &kp SYM_CARET,   &kp SYM_MINUS,  &kp SYM_DOT , BLI, BRI)

LAYER_TCOMBO_NO_BASE(sym_at,    HOLD_SYM_L, &kp SYM_DOLLAR, &kp SYM_RUBLE,  &kp SYM_AMP,    TLP, TRP)
LAYER_TCOMBO_NO_BASE(sym_lpar,  HOLD_SYM_L, &kp SYM_LBKT,   &kp SYM_LGUIL,  &kp SYM_LBRACE, TLR, TRR)
LAYER_TCOMBO_NO_BASE(sym_rpar,  HOLD_SYM_L, &kp SYM_RBKT,   &kp SYM_RGUIL,  &kp SYM_RBRACE, TLM, TRM)
LAYER_TCOMBO_NO_BASE(sym_hash,  HOLD_SYM_L, &kp SYM_TILDE,  &kp SYM_GRAVE,  &kp SYM_PERCENT, BLP, BRP)
LAYER_TCOMBO_NO_BASE(sym_quest, HOLD_SYM_L, &kp SYM_EXCL,   &kp SYM_APOS,   &kp SYM_LT,     BLR, BRR)
LAYER_TCOMBO_NO_BASE(sym_slash, HOLD_SYM_L, &kp SYM_BSLH,   &kp SYM_DQUOTE, &kp SYM_GT,     BLM, BRM)

COMBO_MIRROR_LAYERS_IDLE(lock_nav,   &tog NAV_L,   TLM BLR BLI, TRM BRR BRI, RU_L ENG_L NAV_L MOUSE_L, 150)
COMBO_MIRROR_LAYERS_IDLE(lock_mouse, &tog MOUSE_L, TLR BLM TLI, TRR BRM TRI, RU_L ENG_L NAV_L MOUSE_L, 150)

COMBO_MIRROR_LAYERS(hm_shot_screen, &kp LG(LS(N4)), TLR TLM, TRR TRM, HOLD_MEDIA_L)
COMBO_MIRROR_LAYERS(hm_joxi,        &kp LG(LS(N6)), BLR BLM, BRR BRM, HOLD_MEDIA_L)
