#include "chord_macros.dtsi"

COMBO_MIRROR_LAYERS(lang_ru, &ht_combo_ru LS(LGUI) 0, LOT LIT, ROT RIT, RU_L)
COMBO_MIRROR_LAYERS(lang_en, &ht_combo_en LS(LGUI) 0, LOT LIT, ROT RIT, ENG_L)

// Без базовой клавиши, чтобы базово вызывать hold-cлой
TCOMBO_NO_BASE(b         , &kp B       , &kp LS(B)    , &kp LEFT     , &kp LS(LEFT)  , TLP          , TRP  )
TCOMBO_NO_BASE(j         , &kp J       , &kp LS(J)    , &kp RIGHT    , &kp LS(RIGHT) , TLI          , TRI  )
TCOMBO_NO_BASE(h         , &kp H       , &kp LS(H)    , &sk LGUI     , &kp HOME      , BLP          , BRP  )
TCOMBO_NO_BASE(y         , &kp Y       , &kp LS(Y)    , &sk LSHIFT   , &kp END       , BLI          , BRI  )

//    (name,   press,      curved,        splayed,            both,          chord,       chord)
TCOMBO(f         , &kp F       , &kp LS(F)    , &kp UP       , &kp LS(UP)    , TLR          , TRR          )
TCOMBO(t         , &kp T       , &kp LS(T)    , &kp DOWN     , &kp LS(DOWN)  , TLM          , TRM          )
TCOMBO(c         , &kp C       , &kp LS(C)    , &sk LALT     , &kp PG_UP     , BLR          , BRR          )
TCOMBO(n         , &kp N       , &kp LS(N)    , &sk LCTRL    , &kp PG_DN     , BLM          , BRM          )
TCOMBO(d         , &kp D       , &kp LS(D)    , &kp N1       , &kp F1        , TLP TLI      , TRP TRI      )
TCOMBO(k         , &kp K       , &kp LS(K)    , &kp N2       , &kp F2        , BLP BLI      , BRP BRI      )
TCOMBO(r         , &kp R       , &kp LS(R)    , &kp N3       , &kp F3        , BLP BLR      , BRP BRR      )
TCOMBO(v         , &kp V       , &kp LS(V)    , &kp N4       , &kp F4        , BLM BLI      , BRM BRI      )
TCOMBO(l         , &kp L       , &kp LS(L)    , &kp N5       , &kp F5        , TLP TLR      , TRP TRR      )
TCOMBO(g         , &kp G       , &kp LS(G)    , &kp N6       , &kp F6        , TLM TLI      , TRM TRI      )
TCOMBO(e         , &kp E       , &kp LS(E)    , &kp N7       , &kp F7        , BLR BLM      , BRR BRM      )
TCOMBO(z         , &kp Z       , &kp LS(Z)    , &kp N8       , &kp F8        , TLR TLM      , TRR TRM      )
TCOMBO(s         , &kp S       , &kp LS(S)    , &kp N9       , &kp F9        , BLP BLM      , BRP BRM      )
TCOMBO(m         , &kp M       , &kp LS(M)    , &kp N0       , &kp F10       , BLR BLI      , BRR BRI      )
TCOMBO(u         , &kp U       , &kp LS(U)    , &kp EXCL     , &kp F11       , TLP TLM      , TRP TRM      )
TCOMBO(p         , &kp P       , &kp LS(P)    , &kp AT       , &kp F12       , TLR TLI      , TRR TRI      )
TCOMBO(comma     , &kp COMMA   , &kp LS(COMMA), &kp HASH     , &none         , TLP BLI      , TRP BRI      )
TCOMBO(x         , &kp X       , &kp LS(X)    , &kp DLLR     , &none         , BLP TLI      , BRP TRI      )
TCOMBO(q         , &kp Q       , &kp LS(Q)    , &kp PRCNT    , &none         , TLP BLM      , TRP BRM      )
TCOMBO(lbkt      , &kp LBKT    , &kp LS(LBKT) , &kp CARET    , &none         , BLR TLI      , BRR TRI      )
TCOMBO(semi      , &kp SEMI    , &kp LS(SEMI) , &kp AMPS     , &none         , BLP TLM      , BRP TRM      )
TCOMBO(i         , &kp I       , &kp LS(I)    , &kp STAR     , &none         , TLR BLI      , TRR BRI      )
TCOMBO(dot       , &kp DOT     , &kp LS(DOT)  , &kp LPAR     , &none         , TLP BLR      , TRP BRR      )
TCOMBO(w         , &kp W       , &kp LS(W)    , &kp RPAR     , &none         , TLI BLM      , TRI BRM      )
TCOMBO(o         , &kp O       , &kp LS(O)    , &kp SLASH    , &none         , TLR BLM      , TRR BRM      )
TCOMBO(sqt       , &kp SQT     , &kp LS(SQT)  , &kp QMARK    , &none         , TLM BLR      , TRM BRR      )
TCOMBO(a         , &kp A       , &kp LS(A)    , &kp MINUS    , &none         , TLM BLI      , TRM BRI      )
TCOMBO(rbkt      , &kp RBKT    , &kp LS(RBKT) , &kp UNDER    , &none         , TLR BLP      , TRR BRP      )
TCOMBO(grave     , &kp GRAVE   , &kp LS(GRAVE), &kp EQUAL    , &none         , BLR BLM BLI  , BRR BRM BRI  )
TCOMBO(nubs      , &kp NUBS    , &kp LS(NUBS) , &kp PLUS     , &none         , TLR TLM TLI  , TRR TRM TRI  )
TCOMBO(del       , &kp DEL     , &none        , &kp LC(DEL)  , &none         , TLR BLR      , TRR BRR      )
TCOMBO(esc       , &kp ESC     , &none        , &kp N1       , &none         , TLM BLM      , TRM BRM      )
TCOMBO(tab       , &kp TAB     , &kp LA(TAB)  , &kp LC(TAB)  , &none         , TLP BLP      , TRP BRP      )
TCOMBO(enter     , &kp ENTER   , &kp LS(ENTER), &none        , &none         , TLI BLI      , TRI BRI      )
TCOMBO(boot      , &none       , &none        , &ext_power EP_OFF, &bootloader   , TLP TLR TLM TLI, TRP TRR TRM TRI)
TCOMBO(bt        , &bt BT_SEL 0, &bt BT_SEL 1 , &bt BT_SEL 2 , &bt BT_CLR    , BLP BLR BLM BLI, BRP BRR BRM BRI)
TCOMBO(mg_comma  , &mg_comma   , &mg_dot      , &kp RA(SEMI) , &kp LS(RA(SEMI)), TLP TLR TLM  , TRP TRR TRM  )
TCOMBO(minus_dash, &kp MINUS   , &kp LA(LS(MINUS)), &kp UNDER    , &kp PIPE      , BLP BLR BLM  , BRP BRR BRM  )


// Hold Numbers Layer Combos — двукнопия
COMBO_MIRROR_LAYERS(num_8, &kp N8, TLR TLM, TRR TRM, HOLD_NUM_L)
COMBO_MIRROR_LAYERS(num_7, &kp N7, TLM TLI, TRM TRI, HOLD_NUM_L)
COMBO_MIRROR_LAYERS(num_9, &kp N9, BLM BLI, BRM BRI, HOLD_NUM_L)

// Hold Numbers Layer Combos — комбо с thumb
LAYER_TCOMBO_NO_BASE(num_2, HOLD_NUM_L, &kp SYM_PERCENT, &kp SYM_NUMERO, &none       , TLM, TRM)
LAYER_TCOMBO_NO_BASE(num_1, HOLD_NUM_L, &kp SYM_STAR,    &kp SYM_PLUS,   &none       , TLI, TRI)
LAYER_TCOMBO_NO_BASE(num_5, HOLD_NUM_L, &kp SYM_DOLLAR,  &kp SYM_RUBLE,  &none       , BLM, BRM)
LAYER_TCOMBO_NO_BASE(num_4, HOLD_NUM_L, &kp SYM_CARET,   &kp SYM_MINUS,  &kp SYM_DOT , BLI, BRI)

// Hold symbols layer combos
LAYER_TCOMBO_NO_BASE(sym_at,    HOLD_SYM_L, &kp SYM_DOLLAR, &kp SYM_RUBLE,  &kp SYM_AMP,    TLP, TRP)
LAYER_TCOMBO_NO_BASE(sym_lpar,  HOLD_SYM_L, &kp SYM_LBKT,   &kp SYM_LGUIL,  &kp SYM_LBRACE, TLR, TRR)
LAYER_TCOMBO_NO_BASE(sym_rpar,  HOLD_SYM_L, &kp SYM_RBKT,   &kp SYM_RGUIL,  &kp SYM_RBRACE, TLM, TRM)
LAYER_TCOMBO_NO_BASE(sym_hash,  HOLD_SYM_L, &kp SYM_TILDE,  &kp SYM_GRAVE,  &kp SYM_EMPH, BLP, BRP)
LAYER_TCOMBO_NO_BASE(sym_quest, HOLD_SYM_L, &kp SYM_EXCL,   &kp SYM_APOS,   &kp SYM_LT,     BLR, BRR)
LAYER_TCOMBO_NO_BASE(sym_slash, HOLD_SYM_L, &kp SYM_BSLH,   &kp SYM_DQUOTE, &kp SYM_GT,     BLM, BRM)

// Hold navigation layer combos
LAYER_TCOMBO_NO_BASE(nav_up,    HOLD_NAV_L, &none, &kp SYM_UP,    &none, TLM, TRM)
LAYER_TCOMBO_NO_BASE(nav_left,  HOLD_NAV_L, &none, &kp SYM_LEFT,  &none, BLR, BRR)
LAYER_TCOMBO_NO_BASE(nav_down,  HOLD_NAV_L, &none, &kp SYM_DOWN,  &none, BLM, BRM)
LAYER_TCOMBO_NO_BASE(nav_right, HOLD_NAV_L, &none, &kp SYM_RIGHT, &none, BLI, BRI)

COMBO_MIRROR_LAYERS(hb_dquote, &kp SYM_DQUOTE, TLM TLI, TRM TRI, HOLD_BRACKETS_L)
COMBO_MIRROR_LAYERS(hb_apos,   &kp SYM_APOS,   BLM BLI, BRM BRI, HOLD_BRACKETS_L)
COMBO_MIRROR_LAYERS(hb_pipe,   &kp PIPE,       LIT LOT, RIT ROT, HOLD_BRACKETS_L)

COMBO_MIRROR_LAYERS(ht_pipe,   &kp PIPE,       TLM TLI, TRM TRI, HOLD_TYPO_L)
COMBO_MIRROR_LAYERS(ht_tilde,  &kp SYM_TILDE,  BLM BLI, BRM BRI, HOLD_TYPO_L)

COMBO_MIRROR_LAYERS_IDLE(lock_nav,   &tog NAV_L,   TLM BLR BLI, TRM BRR BRI, RU_L ENG_L NAV_L MOUSE_L, 150)
COMBO_MIRROR_LAYERS_IDLE(lock_mouse, &tog MOUSE_L, TLR BLM TLI, TRR BRM TRI, RU_L ENG_L NAV_L MOUSE_L, 150)

COMBO_MIRROR_LAYERS(hm_shot_screen, &kp LG(LS(N4)), TLR TLM, TRR TRM, HOLD_MEDIA_L)
COMBO_MIRROR_LAYERS(hm_joxi,        &kp LG(LS(N6)), BLR BLM, BRR BRM, HOLD_MEDIA_L)
