/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include "chord_macros.dtsi"


#define COMBO_TIMEOUT 70          // timeout комбо (мс)
#define COMBO_LAYERS RU_L ENG_L   // слои, где активны базовые комбо
#define STICKY_TIMEOUT 500        // timeout sticky-модификаторов (мс)

// Слои
#define RU_L 0                    // основной RU слой
#define ENG_L 1                   // основной EN слой
#define NAV_L 2                   // навигация
#define HOLD_NAV_L 3              // hold-navigationn
#define HOLD_MEDIA_L 4            // hold-media
#define HOLD_NUM_L 5              // hold-numbers
#define HOLD_SYM_L 6              // hold-symbols
#define HOLD_BRACKETS_L 7         // hold-brackets
#define HOLD_TYPO_L 8             // hold-typo

// Кастомные символы
#define SYM_PERCENT  PRCNT          // %
#define SYM_NUMERO   RA(N)          // №
#define SYM_EQUAL    EQUAL          // =
#define SYM_PLUS     PLUS           // +
#define SYM_STAR     KP_MULTIPLY    // *
#define SYM_DOLLAR   RA(N4)         // $
#define SYM_RUBLE    RA(H)          // ₽
#define SYM_CARET    RA(F)          // ^
#define SYM_MINUS    MINUS          // -
#define SYM_MATHMIN  LS(RA(MINUS))  // –
#define SYM_DOT      KP_DOT         // .
#define SYM_AT       AT             // @
#define SYM_AMP      AMPS           // &
#define SYM_LBKT     LA(LBKT)       // [
#define SYM_RBKT     LA(RBKT)       // ]
#define SYM_LGUIL    RA(N9)         // «
#define SYM_RGUIL    RA(N0)         // »
#define SYM_LBRACE   LS(LA(LBKT))   // {
#define SYM_RBRACE   LS(LA(RBKT))   // }
#define SYM_LPAR     LPAR           // (
#define SYM_RPAR     RPAR           // )
#define SYM_TILDE    LS(RA(GRAVE))  // ~
#define SYM_GRAVE    RA(GRAVE)      // `
#define SYM_HASH     HASH           // #
#define SYM_EXCL     EXCL           // !
#define SYM_QUEST    LS(RA(SLASH))  // ?
#define SYM_APOS     RA(SQT)        // ‘
#define SYM_BSLH     RA(BSLH)       // backslash
#define SYM_SLASH    RA(SLASH)      // /
#define SYM_DQUOTE   RA(LS(SQT))    // “
#define SYM_LT       RA(LS(N6))     // <
#define SYM_GT       RA(LS(N7))     // >
#define SYM_EMPH     RA(E)          // ударение
#define SYM_LEFT     RA(J)          // ←
#define SYM_UP       RA(I)          // ↑
#define SYM_DOWN     RA(K)          // ↓
#define SYM_RIGHT    RA(L)          // →
#define SYM_COLON    LS(RA(SEMICOLON))    // :
#define SYM_SEMICOL  RA(SEMICOLON)        // ;

// Левая сторона
#define TLP 0   // top left pinky
#define TLR 1   // top left ring
#define TLM 2   // top left middle
#define TLI 3   // top left index
#define BLP 8   // bottom left pinky
#define BLR 9   // bottom left ring
#define BLM 10  // bottom left middle
#define BLI 11  // bottom left index
#define LIT 16  // I-THUMB (Внутренняя для руки, согнутый палец, ближе к мизинцу, левее)
#define LOT 17  // O-THUMB (Внешняя для руки, вытянутый палец, ближе к указательному, правее)

// Правая сторона
#define TRP 7   // top right pinky
#define TRR 6   // top right ring
#define TRM 5   // top right middle
#define TRI 4   // top right index
#define BRP 15  // bottom right pinky
#define BRR 14  // bottom right ring
#define BRM 13  // bottom right middle
#define BRI 12  // bottom right index
#define ROT 19  // O-THUMB (Внешняя для руки, вытянутый палец, ближе к указательному, левее)
#define RIT 18  // I-THUMB (Внутренняя для руки, согнутый палец, ближе к мизинцу, правее)

// Глобальная настройка sticky key (&sk): как долго держится модификатор и отпускать ли его сразу после следующей клавиши.
&sk {
    release-after-ms = <STICKY_TIMEOUT>;
    quick-release;
};

/ {
  macros {
    // Магическая точка: ставит точку и пробел, зажимая левую Shift
    mg_dot: mg_dot {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp RA(N7) &kp SPACE &sk LSHFT>;
      wait-ms = <5>;
      tap-ms = <5>;
    };

    // Магическая запятая: ставит запятую и пробел
    mg_comma: mg_comma {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp RA(N6) &kp SPACE>;
      wait-ms = <5>;
      tap-ms = <5>;
    };

    // Переключение языка на английский
    mac_to_en: mac_to_en {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp LS(LC(LA(N1))) &to ENG_L>;
      wait-ms = <5>;
      tap-ms = <5>;
    };

    // Переключение языка на русский
    mac_to_ru: mac_to_ru {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp LS(LC(LA(N2))) &to RU_L>;
      wait-ms = <5>;
      tap-ms = <5>;
    };

  };

  combos {
    compatible = "zmk,combos";
    #include "chords.dtsi"
  };

  behaviors {
      /*
        * когда мы зададим клавише на слое поведение «&sym_at_mm» это будет означать:
        * — &kp SYM_AT когда tap
        * — &kp SYM_DOLLAR c cmd, 
        * — &kp SYM_RUBLE c shift
        * — &kp SYM_AMP c cmd+shift
      */ 
      MOD_MPH(sym_at_mm,    &kp SYM_AT,    &kp SYM_DOLLAR, &kp SYM_RUBLE,  &kp SYM_AMP)
      MOD_MPH(sym_lpar_mm,  &kp SYM_LPAR,  &kp SYM_LBKT,   &kp SYM_LGUIL,  &kp SYM_LBRACE)
      MOD_MPH(sym_rpar_mm,  &kp SYM_RPAR,  &kp SYM_RBKT,   &kp SYM_RGUIL,  &kp SYM_RBRACE)
      MOD_MPH(sym_hash_mm,  &kp SYM_HASH,  &kp SYM_TILDE,  &kp SYM_GRAVE,  &kp SYM_EMPH)
      MOD_MPH(sym_quest_mm, &kp SYM_QUEST, &kp SYM_EXCL,   &kp SYM_APOS,   &kp SYM_LT)
      MOD_MPH(sym_slash_mm, &kp SYM_SLASH, &kp SYM_BSLH,   &kp SYM_DQUOTE, &kp SYM_GT)

      // td_bkt: tap-dance для квадратных скобок, 1 тап = [, 2 тапа = ]
      td_bkt: td_bkt {
          compatible = "zmk,behavior-tap-dance";
          #binding-cells = <0>;
          tapping-term-ms = <200>;
          bindings = <&kp SYM_LBKT>, <&kp SYM_RBKT>;
      };

      // td_ang: tap-dance для угловых скобок, 1 тап = >, 2 тапа = <
      td_ang: td_ang {
          compatible = "zmk,behavior-tap-dance";
          #binding-cells = <0>;
          tapping-term-ms = <200>;
          bindings = <&kp SYM_GT>, <&kp SYM_LT>;
      };

      // td_brc: tap-dance для фигурных скобок, 1 тап = {, 2 тапа = }
      td_brc: td_brc {
          compatible = "zmk,behavior-tap-dance";
          #binding-cells = <0>;
          tapping-term-ms = <200>;
          bindings = <&kp SYM_LBRACE>, <&kp SYM_RBRACE>;
      };

      // --- Настройки Hold-Tap для Thumb-клавиш и Комбо ---
      // Подробное описание параметров см. в docs/hold_tap_settings.md
      // tapping-term-ms: время удержания для срабатывания Hold (200мс)
      // quick-tap-ms: окно для двойного клика, чтобы "зажать" Tap-клавишу (например, Backspace) (175мс)
      // require-prior-idle-ms: защита от случайных модов при быстрой печати (150мс)
      // flavor "balanced": корректное разрешение конфликтов при перекатах пальцев
      ht_curved: ht_curved {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          flavor = "balanced";
          tapping-term-ms = <200>;
          quick-tap-ms = <175>;
          require-prior-idle-ms = <150>;
          bindings = <&kp>, <&kp>; // TODO разобраться что за бобуйня пустая
      };

      ht_splayed: ht_splayed {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          flavor = "balanced";
          tapping-term-ms = <200>;
          quick-tap-ms = <175>;
          require-prior-idle-ms = <150>;
          bindings = <&kp>, <&kp>;
      };

      ht_curved_mg: ht_curved_mg {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          flavor = "balanced";
          tapping-term-ms = <200>;
          quick-tap-ms = <175>;
          require-prior-idle-ms = <150>;
          bindings = <&kp>, <&mg_dot>;
      };

      ht_splayed_mg: ht_splayed_mg {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          flavor = "balanced";
          tapping-term-ms = <200>;
          quick-tap-ms = <175>;
          require-prior-idle-ms = <150>;
          bindings = <&kp>, <&mg_comma>;
      };

      ht_combo_ru: ht_combo_ru {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          flavor = "balanced";
          tapping-term-ms = <200>;
          quick-tap-ms = <175>;
          require-prior-idle-ms = <150>;
          bindings = <&kp>, <&mac_to_en>;
      };

      ht_combo_en: ht_combo_en {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          flavor = "balanced";
          tapping-term-ms = <200>;
          quick-tap-ms = <175>;
          require-prior-idle-ms = <150>;
          bindings = <&kp>, <&mac_to_ru>;
      };

      ht_hold_brackets: ht_hold_brackets {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          flavor = "hold-preferred";
          tapping-term-ms = <200>;
          bindings = <&mo>, <&kp>;
      };

      ht_hold_typo: ht_hold_typo {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          flavor = "hold-preferred";
          tapping-term-ms = <200>;
          bindings = <&mo>, <&kp>;
      };
  };

  keymap {
    compatible = "zmk,keymap";

    // Нижний, нулевой слой
    // &none кнопки будут заданы через комбо-аккорды в chords.dtsi
    // &lt — layer-tap клавиша, которая будет срабатывать при удержании
    ru_layer {
      bindings = <
        &lt HOLD_NUM_L B    &lt HOLD_BRACKETS_L F                  &none    &lt HOLD_SYM_L J                                                      &lt HOLD_SYM_L J        &none    &lt HOLD_BRACKETS_L F                  &lt HOLD_NUM_L B
        &lt HOLD_NAV_L H    &ht_hold_typo HOLD_TYPO_L C            &none    &lt HOLD_MEDIA_L Y                                                     &lt HOLD_MEDIA_L Y      &none    &ht_hold_typo HOLD_TYPO_L C            &lt HOLD_NAV_L H
                                              &ht_curved LGUI BSPC    &ht_splayed LSHIFT SPACE      &ht_splayed RSHIFT SPACE    &ht_curved RGUI BSPC
      >;
    };

    eng_layer {
      bindings = <
        &trans    &trans    &trans    &trans                          &trans    &trans    &trans    &trans
        &trans    &trans    &trans    &trans                          &trans    &trans    &trans    &trans
                                      &trans    &trans      &trans    &trans
      >;
    };

    nav_layer {
      bindings = <
        &kp PG_UP         &kp HOME         &kp UP           &kp END                     &kp HOME           &kp UP           &kp END          &kp PG_UP
        &kp PG_DN         &kp LEFT         &kp DOWN         &kp RIGHT                   &kp LEFT           &kp DOWN         &kp RIGHT        &kp PG_DN
                                                            &trans           &trans     &trans             &trans
      >;
    };

    hold_nav_layer {
      bindings = <
        &trans            &kp HOME         &kp UP           &kp END                               &kp HOME            &kp UP           &kp END          &trans
        &trans            &kp LEFT         &kp DOWN         &kp RIGHT                             &kp LEFT            &kp DOWN         &kp RIGHT        &trans
                                                            &trans           &trans     &trans    &trans
      >;
    };

    hold_media_layer {
      bindings = <
        &kp C_MUTE        &kp C_PREV       &kp C_VOL_UP     &trans                                                                                               &trans     &kp C_VOL_UP     &kp C_PREV       &kp C_MUTE
        &kp C_PP          &kp C_NEXT       &kp C_VOL_DN     &trans                                                                                               &trans     &kp C_VOL_DN     &kp C_NEXT       &kp C_PP
                                                            &ht_curved LGUI SYM_EXCL    &ht_splayed LSHIFT SYM_QUEST     &ht_splayed RSHIFT SYM_QUEST            &ht_curved RGUI SYM_EXCL
      >;
    };

    hold_num_layer {
      bindings = <
        &trans            &kp N3           &kp N2           &kp N1                                                                                          &kp N1     &kp N2           &kp N3           &trans
        &none             &kp N6           &kp N5           &kp N4                                                                                          &kp N4     &kp N5           &kp N6           &none
                                                            &ht_curved LGUI N0    &ht_splayed LSHIFT SYM_EQUAL     &ht_splayed RSHIFT SYM_EQUAL             &ht_curved RGUI N0
      >;
    };

    hold_sym_layer {
      bindings = <
        &sym_at_mm        &sym_lpar_mm     &sym_rpar_mm     &trans                          &trans        &sym_rpar_mm     &sym_lpar_mm     &sym_at_mm
        &sym_hash_mm      &sym_quest_mm    &sym_slash_mm    &none                           &none         &sym_slash_mm    &sym_quest_mm    &sym_hash_mm
                                                            &ht_curved_mg LGUI 0    &ht_splayed_mg LSHIFT 0      &ht_splayed_mg RSHIFT 0    &ht_curved_mg RGUI 0
      >;
    };

    hold_brackets_layer {
      bindings = <
        &kp LALT          &trans           &td_bkt          &td_ang                         &td_ang        &td_bkt          &trans           &kp RALT
        &kp LALT          &trans           &td_brc          &kp SYM_BSLH                    &kp SYM_BSLH   &td_brc          &trans           &kp RALT
                                                            &ht_curved LGUI SYM_BSLH    &ht_splayed LSHIFT SYM_SLASH      &ht_splayed RSHIFT SYM_SLASH    &ht_curved RGUI SYM_BSLH
      >;
    };

    hold_typo_layer {
      bindings = <
        &kp LCTRL         &trans           &kp SYM_MINUS    &kp RA(MINUS)               &kp RA(MINUS)     &kp SYM_MINUS    &trans           &kp RCTRL
        &kp LCTRL         &trans           &kp SYM_LGUIL    &kp SYM_RGUIL                   &kp SYM_RGUIL         &kp SYM_LGUIL    &trans           &kp RCTRL
                                                            &ht_curved LGUI SYM_COLON    &ht_splayed LSHIFT SYM_SEMICOL      &ht_splayed RSHIFT SYM_SEMICOL    &ht_curved RGUI SYM_COLON
      >;
    };
  };
};
